{% extends 'home.html' %}
{% block body %}
<body>
        <div class="row justify-content-center bg-appointment mx-0">
            <div class="col-lg-6 py-5">
                <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7);">
                    <h1 class="text-white text-center mb-4">Type your question</h1>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %} 
                            {{ form.as_p }}
                            <div class="col-sm-6">
                                <input type="submit" value="Submit" class="btn btn-primary btn-block" style="height: 47px;"/>
                            </div>
                        </form>
                        <br>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light border-top py-4" style="border-color: rgba(256, 256, 256, .15) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0 text-white">&copy; <a href="#">TipsMonk</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0 text-white">Designed by <a href="">FrozenBOY#4382</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->


    {% endblock body %}